<div class="header">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink=""><img src="../assets/logo2_ng_hearthstone.png" alt="NG HEARTHSTONE">
        </a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li [ngClass]="(page_actual == 'home') ? 'active' : ''"><a routerLink="" (click)="changePage('home')">Home</a></li>
          <li [ngClass]="(page_actual == 'cards') ? 'active' : ''"><a routerLink="/cards" (click)="changePage('cards')">Cards</a></li>
          <li [ngClass]="(page_actual == 'contacts') ? 'active' : ''"><a routerLink="/contacts" (click)="changePage('contacts')">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

<router-outlet></router-outlet>
